
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Preview</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="formContainer">
        @Html.Raw(ViewBag.TempHtml)
    </div>
    <div class="row">
        <button type="button" id="savebtn" class="btn btn-info">保存</button>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(function () {
            $("#savebtn").click(function () {
                // form
                var data = $.buildEntity($("#formContainer"));
                // datatable
                var dt = new Array();
                $("#tb tr").each(function () {
                    var obj = $.buildEntity($(this));
                    dt.push(obj);
                })
            })

            $("#btnAddRow").click(function () {
                $("#tb .template").clone(true).removeClass("template").find("input").val("").end().appendTo($("#tb"));
            })
            
        })
    </script>
</body>
</html>
